#!/usr/bin/make -f
# -*- makefile -*-

DH_VERBOSE = 1
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export DEB_BUILD_OPTIONS = "parallel"
export DEB_BUILD_MAINT_OPTIONS = hardening=-all,+format,+fortify,+stackprotector,+relro

%:
	dh $@ --parallel \
		--buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DENABLE_SHARED=YES -DENABLE_STATIC=YES -DENABLE_TESTS=NO -DCMAKE_SKIP_INSTALL_RPATH=ON

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp
